body {
  background-color: #1a202c;
  color: #f7fafc;
  font-size: 1rem;
}

.container {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.table {
  width: 100%;
  table-layout: auto;
}

.tr:hover {
  background-color: #2d3748;
}

.th {
  border-width: 1px;
  border-color: #2d3748;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #a0aec0;
  text-align: left;
  font-weight: 400;
}
